<table class="attr">
  <tr>
    <th><%= form.label :username, "ユーザー名" %></th>
    <td><%= form.text_field :username %></td>
  </tr>
  <th>診療科</th>
    <td>
    <%= form.radio_button :department_id, 1 %>
    <%= form.label :department_1, "耳鼻科" %>
    <%= form.radio_button :department_id, 2 %>
    <%= form.label :department_2, "内科" %>
    <%= form.radio_button :department_id, 3 %>
    <%= form.label :department_3, "皮膚科" %>
    </td>
  </th>
  <tr>
    <th>性別</th>
    <td>
      <%= form.radio_button :sex, 1 %>
      <%= form.label :sex_1, "男" %>
      <%= form.radio_button :sex, 2 %>
      <%= form.label :sex_2, "女" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :number, "電話番号" %></th>
    <td><%= form.text_field :number, size: 20 %></td>
    </tr>
  <tr>
    <th><%= form.label :email, "メールアドレス" %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <% if @doctor.new_record? %>
  <tr>
  <th><%= form.label :password, "パスワード" %></th>
  <td><%= form.text_field :password %></td>
</tr>
<% end %>
</table>