<% @page_title = @doctor.username  + " 先生 のスケジュール" %>
<h1><%= @page_title %></h1>

<table class="list">
<% @slots.group_by { |slot| slot.time.to_i / 2.hours } .each do |_, slots| %>
    <table class="list">
      <th><%= slots.first.time.strftime("%m/%d %H:%M") %> 〜</th>
      <% slots.each do |slot| %>
        <tr>
        <td><%= slot.doctor.username %></td>
        <% if slot.appointment != nil %>
           <td><%=  slot.appointment.patient.username  %></td>
        <% end %>
        <% if slot.appointment == nil %>
           <td>予約未定</td>
        </tr>
        <% end %>
        </tr>
      <% end %>
      </table>
  <% end %>
  <%= paginate @slots %>