<% if @checks.present? %>
<table class="list">
  <thead>
    <tr>
      <th>受付番号</th>
      <th>日時</th>
      <th>医者名</th>
      <th>患者名</th>
      <th>診察科</th>
    </tr>
  </thead>
  <% @checks.each do |check| %>
    <tr>
      <td><%=  check.id %></td>
      <td><%=  check.appointment.time.strftime("%m/%d %H:%M") %></td>
      <td><%=  check.appointment.slot.doctor.username %></td>
      <td><%=  check.appointment.patient.username %></td>
      <td><%=  check.appointment.slot.doctor.department.name %></td>
    </tr>
  <% end %>
</table>
<% else %>
現在順番待ちはありません
<% end %>
