<% @page_title = "患者の詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "患者一覧に戻る", :doctor_patients %></div>

<table class="attr">
  <tr>
    <th width="150">id</th>
    <td><%= @patient.id %></td>
  </tr>
  <tr>
    <th>患者名</th>
    <td><%= @patient.username %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @patient.sex == 1 ? "男" : "女" %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @patient.birthday&.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @patient.email %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @patient.number %></td>
  </tr>
</table>

<h2><%= @patient.username %>　さんの予約</h2>
<%= render "patient/patients/appointment"%>